*{
    margin: 0%;
    padding: 0%;
    
}
.signup-container{
    width: 70%;
    height: 89vh;
    margin-left: 20%;
    background-color:grey;
    border-radius: 10px;position: relative;
}

.signup-form{
    width: 500px;
    height: 300px;
    padding: 20px;
}

.form-group{
    margin-top: 20px;
}
.h2{
    font-size: x-large;
    margin: 35px;
}

.btn-container{
    margin: 30px;
}