<nav class="navbar">
  <a href="#home" class="active">Home</a>
  <a href="#dishes">About Us</a>
  <a href="#about">Sign Up</a>
  <a href="#menu">Login</a>
  <a href="#review">Logout</a>
  


</nav> 

  <div class="container">
    <div class="row">
      <div class="col-md-4" id="about">
        <h2>ePesa</h2>
        <p>Welcome to ePesa,<br> Platform where you send and <br> receive money at a click <br> of a <em>button</em></p>
      </div>
      <div class="col-md-8">
        <img src="./assets/images/pesa.png " alt="pesa image">
      </div>
      
    </div>
    <button id="get_started">Get Started</button>

  </div>
  <app-footer></app-footer>
 

 