<footer class="bg-light text-center">
    <!-- Grid container -->
    
        <!--Grid column-->
  

        <!--Grid column-->
  

        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" id="footer">
          <h5 class="text-uppercase mb-0">ePesa</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#about" class="text-dark">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contact Us</a>
            </li>
            <li>
              <a href="#get_started" class="text-dark">Get Started</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Learn More</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
     
      <!--Grid row-->
   
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">ePesa</a>
    </div>
    <!-- Copyright -->
  </footer>
